table.GeneratedTable {
  width: 100%;
  background: var(--color1);
  /* border-collapse: collapse; */
  /* border: 1px solid #ffcc00; */
  color: var(--color4);
  border: none;
}

table.GeneratedTable td,
table.GeneratedTable th {
  /* border: 1px solid #ffcc00; */
  padding: 3px;
  text-align: center;
  border: none;
}

table.GeneratedTable thead {
  background: var(--color4);
  color: var(--color1);
  border: none;
}

table.GeneratedTable thead th {
  padding-left: 20px;
  padding-right: 20px;
}

.card-for-table {
  overflow-x: scroll;
}
