#section1 {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
}

#datas {
  width: 100%;
}

.btn {
  background: var(--color4);
}
.card {
  /* background: rgb(211, 175, 175); */
}

.datasGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "city-and-country graph graph"
    "secondary-datas graph graph"
    "coordinates graph graph";
}

.coordinates {
  grid-area: coordinates;
}

.city-and-country {
  grid-area: city-and-country;
}

.secondary-datas {
  grid-area: secondary-datas;
}

.graph {
  grid-area: graph;
}
