#navbar {
  width: 100vw;
  background: var(--color4);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav a {
  color: var(--color1);
}

.navbar-brand {
  color: var(--color1);
  font-weight: bolder;
}
